[Unit]
Description=%N

[Container]
Image=quay.io/oauth2-proxy/oauth2-proxy:{{ item.image_version }}
ContainerName=%N
HostName=%H
Volume=/var/mnt/data1/oauth2-proxy/config/{{ item.client_id }}.cfg:/etc/oauth2-proxy.cfg:z
PublishPort={{ item.port }}:{{ item.port }}
AutoUpdate=registry
Memory=500m
PodmanArgs=--cpus=1
NoNewPrivileges=true
UserNS=keep-id
Exec=--config=/etc/oauth2-proxy.cfg

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
