[Unit]
Description=MinIO Node %H.tailnet-ba52.ts.net

[Container]
Image=quay.io/minio/minio:latest
ContainerName=%N
HostName=%H.tailnet-ba52.ts.net
AutoUpdate=registry
Exec=server \
--console-address ":9001" \
http://wyse0{1...2}.tailnet-ba52.ts.net:9000/data{1...2} \
--ftp="address=:9002" \
--ftp="passive-port-range=30000-31000"
PublishPort=9000:9000
PublishPort=9001:9001
PublishPort=9002:9002
PublishPort=30000-31000:30000-31000
Environment=MINIO_ROOT_USER={{ minio_root_user }}
Environment=MINIO_ROOT_PASSWORD={{ minio_root_password }}
Environment=MINIO_SERVER_URL=http://%H.tailnet-ba52.ts.net:9000
# 4TB SSD
Volume=/mnt/data/minio:/data1:Z
# 512GB SSD
Volume=/mnt/data1/minio:/data2:Z
AddHost=wyse01.tailnet-ba52.ts.net:100.99.35.69
AddHost=wyse02.tailnet-ba52.ts.net:100.72.209.100
HealthCmd=curl -f http://localhost:9000/minio/health/live || exit 1
HealthInterval=30s
HealthTimeout=20s
HealthRetries=3
UserNS=keep-id
Memory=5g
PodmanArgs=--cpus=3
Network=host
NoNewPrivileges=true

[Service]
# Let systemd restart this service always
Restart=always
RestartSec=60
# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=1048576
# Specifies the maximum number of threads this process can create
TasksMax=infinity
# Disable timeout logic and wait until process is stopped
TimeoutSec=infinity
# Disable killing of MinIO by the kernel's OOM killer
OOMScoreAdjust=-1000
SendSIGKILL=no

[Install]
WantedBy=multi-user.target default.target
