[Unit]
Description=AdGuard Home CLI Service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/adguard-cli start
ExecReload=/usr/local/bin/adguard-cli filters update
ExecStop=/usr/local/bin/adguard-cli stop
Restart=on-failure

[Install]
WantedBy=default.target
