[Unit]
Description=%N

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=%N
HostName={{ host_name }}
AutoUpdate=registry
AddCapability=NET_ADMIN NET_RAW CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN
Environment=TZ=Europe/Warsaw
Volume=/var/mnt/data1/homeassistant/config:/config:z
AddDevice=/dev/serial/by-id/usb-Nabu_Casa_ZBT-2_DCB4D9111C4C-if00
Network=host

Memory=4g
PodmanArgs=--cpus=1

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
