.idea
.vscode
*.key
*.crt
*.pfx
.vault_pass
/playbooks/*-artifact-*.json
ansible-navigator.log
.bsp
.scala-build
/files/functions/*.fish
.lego
/files/kanidm/.bash_history
/inventories/prod/secret_vars/
/files/garage/commands.sh
