[Unit]
Description=%N

[Container]
Image=docker.io/machines/filestash:latest
ContainerName=%N
HostName=%H
AutoUpdate=registry
Volume=/var/mnt/data1/filebrowser/srv:/srv:rw,z
Volume=/var/mnt/data1/syncthing/Kuba-media-videos:/srv/Kuba-media-videos:ro,z
Volume=/var/mnt/data1/syncthing/Kuba-media-download:/srv/Kuba-media-download:ro,z
Volume=/var/mnt/data1/syncthing/Kuba-media-other-videos:/srv/Kuba-media-other-videos:ro,z
Volume=/var/mnt/data1/syncthing/Kuba-media-other-photos:/srv/Kuba-media-other-photos:ro,z
Volume=/var/mnt/data1/syncthing/Kuba-media-other-current:/srv/Kuba-media-other-current:ro,z
Volume=/var/mnt/data1/syncthing/Mariusz-Testy:/srv/Mariusz-Testy:ro,z
Volume=/var/mnt/data1/filestash/state:/app/data/state:z
UserNS=keep-id
PublishPort=8334:8334/tcp
PodmanArgs=--memory=2g
PodmanArgs=--cpus=2
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
