[Unit]
Description=Rustic Lego Backup Service

[Container]
Image=ghcr.io/kuba86/ansible-deployment/lets-encrypt:latest
LogDriver=passthrough

EnvironmentFile={{ lets_encrypt_dir }}/lets-encrypt.env

[Service]
Type=oneshot
RemainAfterExit=no
