[Unit]
Description=Rustic Lego Backup Service

[Container]
Image=ghcr.io/kuba86/ansible-deployment/lets-encrypt:latest
LogDriver=passthrough

{{ lets_encrypt_environments }}

[Service]
Type=oneshot
RemainAfterExit=no
