[Unit]
Description=Run Restic prune old snapshots once a day around 05:30

[Timer]
OnCalendar=05:30:00
RandomizedDelaySec=10m
Persistent=true
Unit=server-backup-restic-prune-snapshots.service

[Install]
WantedBy=timers.target
