[Unit]
Description=Run Restic Backup every 1 hour

[Timer]
OnCalendar=00/1:10:00
RandomizedDelaySec=10m
Persistent=true
Unit=server-backup-to-s3.service

[Install]
WantedBy=timers.target
