[Unit]
Description=%N

[Container]
Image=docker.io/binwiederhier/ntfy:latest
ContainerName=%N
HostName={{ host_name }}
AutoUpdate=registry
Volume={{ ntfy_dir }}/server.yml:/etc/ntfy/server.yml:z
Volume={{ ntfy_dir }}/lib:/var/lib/ntfy:z
Volume={{ ntfy_dir }}/cache:/var/cache/ntfy:z
PublishPort=60460:60460/tcp
{{ podman_userns }}
Exec=serve --log-format=json
Memory=500m
PodmanArgs=--cpus=2
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
