[Unit]
Description=%N

[Container]
Image=docker.io/binwiederhier/ntfy:latest
ContainerName=%N
HostName=%H
AutoUpdate=registry
  Volume=/var/mnt/data1/ntfy.sh/server.yml:/etc/ntfy/server.yml:z
Volume=/var/mnt/data1/ntfy.sh/lib:/var/lib/ntfy:z
Volume=/var/mnt/data1/ntfy.sh/cache:/var/cache/ntfy:z
PublishPort=60460:60460/tcp
Exec=serve --log-format=json
UserNS=keep-id
PodmanArgs=--memory=500m
PodmanArgs=--cpus=2
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target default.target
