[Unit]
Description=%N

[Container]
Image=ghcr.io/cmspam/incus-docker:latest
ContainerName=%N
HostName=%H
AutoUpdate=registry
Network=host
CgroupsMode=no-conmon
Volume=/var/lib/incus:/var/lib/incus
Volume=/dev:/dev
Volume=/lib/modules:/lib/modules:ro
PodmanArgs=--cgroupns=host
PodmanArgs=--security-opt unmask=/sys/fs/cgroup
PodmanArgs=--privileged
PodmanArgs=--pid=host

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
