[Unit]
Description=%N

[Container]
Image=docker.io/dxflrs/garage:v2.1.0
ContainerName=%N
HostName=%H
AutoUpdate=registry
Volume=/var/mnt/ssd1-internal/garage/meta:/var/lib/garage/meta:z
Volume=/var/mnt/ssd1-internal/garage/data:/var/lib/garage/data:z
Volume=/var/mnt/ssd1-internal/garage/garage.toml:/etc/garage.toml:z
PublishPort=53900:53900
PublishPort=53901:53901
PublishPort=53902:53902
PublishPort=53903:53903
UserNS=keep-id
Memory={{ garage_memory }}
PodmanArgs=--cpus={{ garage_cpu }}
NoNewPrivileges=true

[Service]
# Let systemd restart this service always
Restart=always
RestartSec=30
# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=42000
# Specifies the maximum number of threads this process can create
TasksMax=infinity
# Disable timeout logic and wait until process is stopped
TimeoutSec=infinity
# Disable killing of MinIO by the kernel's OOM killer
OOMScoreAdjust=-1000
SendSIGKILL=no

[Install]
WantedBy=multi-user.target default.target
