[Unit]
Description=%N

[Container]
Image=docker.io/dxflrs/garage:v2.1.0
ContainerName=%N
HostName=%H
AutoUpdate=registry
{{ garage_volumes }}
{{ garage_ports }}
{{ garage_userns }}
{{ garage_network }}
Memory={{ garage_memory }}
PodmanArgs=--cpus={{ garage_cpu }}
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=60
TimeoutSec=10min
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target default.target
