[Unit]
Description=%N

[Container]
Image=ghcr.io/drakkan/sftpgo:v2
ContainerName=%N
HostName=%H
AutoUpdate=registry
{{ sftpgo_volumes }}
{{ sftpgo_ports }}
{{ sftpgo_userns }}
{{ sftpgo_env_var }}
Memory={{ sftpgo_memory }}
PodmanArgs=--cpus={{ sftpgo_cpu }}
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
