[Unit]
Description=%N

[Container]
Image=ghcr.io/drakkan/sftpgo:latest
ContainerName=%N
HostName=%H
AutoUpdate=registry
Volume=/mnt/data1/filebrowser/srv:/home/sftpgo/files:z,ro
Volume=/mnt/data1/priv/sftpgo-password.txt:/home/sftpgo/sftpgo-password.txt:ro,z
PublishPort=9999:9999/tcp
PublishPort=9998:9998/tcp
UserNS=keep-id
PodmanArgs=--memory=2g
PodmanArgs=--cpus=2
Exec=sftpgo \
      portable \
      --ftpd-port=9999 \
      --httpd-port=9998 \
      --permissions="*" \
      --directory=/home/sftpgo/files \
      --password-file=/home/sftpgo/sftpgo-password.txt \
      --username=F3C5HrhtwC

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
