[Unit]
Description=tailscale-optimizations
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/bash -c 'set -euo pipefail; IFACE=$(/usr/sbin/ip route show default 0.0.0.0/0 | awk '"'"'NR==1 {print $5; exit}'"'"'); if [[ -z $IFACE ]]; then echo "No default interface; aborting" >&2; exit 0; fi; /usr/sbin/ethtool -K "$IFACE" rx-udp-gro-forwarding on rx-gro-list off'

[Install]
WantedBy=multi-user.target default.target
