[Unit]
Description=%N

[Container]
Image=docker.io/library/caddy:2
ContainerName=%N
HostName=%H
AutoUpdate=registry
AddCapability=CAP_NET_BIND_SERVICE
{{ caddy_volumes }}
Volume={{ lets_encrypt_dir }}:/certificates:z
{{ caddy_network }}
{{ caddy_ports }}
Memory={{ caddy_memory }}
PodmanArgs=--cpus={{ caddy_cpu }}
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=15
TimeoutSec=10min
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target default.target
