[Unit]
Description=%N

[Container]
Image=docker.io/syncthing/syncthing:1
ContainerName=%N
HostName=%H
AutoUpdate=registry
{{ syncthing_volumes }}
PublishPort=8384:8384/tcp
{{ syncthing_ports }}
PublishPort=21027:21027/udp
UserNS=keep-id
PodmanArgs=--memory={{ syncthing_memory }}
PodmanArgs=--cpus={{ syncthing_cpu }}

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
