[Unit]
Description=%N

[Container]
Image=docker.io/cryptpad/cryptpad:version-2025.9.0
ContainerName=%N
HostName=cryptpad
AutoUpdate=registry
Network=slirp4netns:port_handler=slirp4netns
Volume=/var/mnt/data1/cryptpad/config.js:/cryptpad/config/config.js:z,U
Volume=/var/mnt/data1/cryptpad/data/blob:/cryptpad/blob:z,U
Volume=/var/mnt/data1/cryptpad/data/block:/cryptpad/block:z,U
Volume=/var/mnt/data1/cryptpad/customize:/cryptpad/customize:z,U
Volume=/var/mnt/data1/cryptpad/data/data:/cryptpad/data:z,U
Volume=/var/mnt/data1/cryptpad/data/files:/cryptpad/datastore:z,U
Volume=/var/mnt/data1/cryptpad/onlyoffice-dist:/cryptpad/www/common/onlyoffice/dist:z,U
Volume=/var/mnt/data1/cryptpad/onlyoffice-conf:/cryptpad/onlyoffice-conf:z,U
Environment=CPAD_CONF=/cryptpad/config/config.js
Environment=CPAD_INSTALL_ONLYOFFICE=yes
PublishPort=3000:3000
PublishPort=3003:3003
UserNS=keep-id
PodmanArgs=--memory=2g
PodmanArgs=--cpus=2
NoNewPrivileges=true

[Service]
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target default.target
