[Unit]
Description=ntfy-server-boot
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'curl \
  --retry 60 \
  --retry-all-errors \
  --fail \
  --connect-timeout 5 \
  --max-time 5 \
  --retry-delay 60 \
  -u ":{{ ntfy_api_token }}" \
  -H "Title: %H started" \
  -H "Tags: %H" \
  -d "%H successfully started and is online" \
  https://ntfy.kuba86.com/servers'
RestartSec=60
ExecStopPost=/usr/bin/bash -c 'curl \
  --retry 60 \
  --connect-timeout 5 \
  --max-time 5 \
  --retry-delay 60 \
  -u ":{{ ntfy_api_token }}" \
  -H "Title: %H is shutting down" \
  -H "Tags: %H" \
  -d "%H is shutting down" \
  https://ntfy.kuba86.com/servers'

[Install]
WantedBy=default.target
