- name: Playbooks | Fedora CoreOS bootc rebase
  ansible.builtin.import_playbook: fedora-coreos-bootc-rebase.yaml

- name: Playbooks | install tailscale
  ansible.builtin.import_playbook: tailscale.yaml

- name: Playbooks | create user core
  ansible.builtin.import_playbook: user-core.yaml

- name: Playbooks | create user emergency
  ansible.builtin.import_playbook: user-emergency.yaml
  
- name: Playbooks | update ssh authorized keys
  ansible.builtin.import_playbook: update-ssh-authorized-keys.yaml
  
- name: Playbooks | enable linger
  ansible.builtin.import_playbook: enable-linger.yaml
  
- name: Playbooks | Sysctl
  ansible.builtin.import_playbook: sysctl.yaml
  
- name: Playbooks | mask-docker-service
  ansible.builtin.import_playbook: mask-docker-service.yaml

- name: Playbooks | install fish shell
  ansible.builtin.import_playbook: install-fish.yaml

- name: Playbooks | install scala-cli
  ansible.builtin.import_playbook: install-scala-cli.yaml

- name: Playbooks | install ntfy-server-boot service and timer
  ansible.builtin.import_playbook: ntfy-server-boot.yaml

- name: Playbooks | update via dnf
  ansible.builtin.import_playbook: update-via-dnf.yaml

- name: Playbooks | install packages
  ansible.builtin.import_playbook: install-packages.yaml

- name: Playbooks | common functions
  ansible.builtin.import_playbook: common-functions.yaml

- name: Playbooks | setup DNS
  ansible.builtin.import_playbook: setup-dns.yaml

- name: Playbooks | setup path
  ansible.builtin.import_playbook: setup-path.yaml

- name: Playbooks | Setup Podman
  ansible.builtin.import_playbook: setup-podman.yaml

- name: Playbooks | Install Incus
  ansible.builtin.import_playbook: incus-via-podman.yaml

- name: Playbooks | Install Syncthing
  ansible.builtin.import_playbook: install-syncthing.yaml

- name: Playbooks | Setup Caddy
  ansible.builtin.import_playbook: setup-caddy.yaml

- name: Playbooks | Install MariaDB
  ansible.builtin.import_playbook:

- name: Playbooks | Install PostgresDB
  ansible.builtin.import_playbook:

- name: Playbooks | Install CryptPad
  ansible.builtin.import_playbook:

- name: Playbooks | Install FileBrowser
  ansible.builtin.import_playbook:

- name: Playbooks | Install FileStash
  ansible.builtin.import_playbook:

- name: Playbooks | Install SftpGo
  ansible.builtin.import_playbook:

- name: Playbooks | Install Gemini CLI #TODO: convert to podman
  ansible.builtin.import_playbook: install-gemini-cli.yaml

- name: Playbooks | Install Let's Encrypt
  ansible.builtin.import_playbook:

- name: Playbooks | Install Cronicle #TODO: convert to podman
  ansible.builtin.import_playbook:

- name: Playbooks | Install ntfy
  ansible.builtin.import_playbook:
