- name: Install common functions
  hosts: coreos:dnf:desktop
  gather_facts: false
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
    server_healthcheck_ping:
    server_healthcheck_website:
  tasks:
    
    - name: common functions | ensures /home/{{ main_user }}/.local/bin directory exists
      ansible.builtin.file:
        path: /home/{{ main_user }}/.local/bin
        state: directory
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '755'
      
    - name: common functions | copy functions random delay
      ansible.builtin.copy:
        src: ../files/bin/random-delay-seconds.bash
        dest: /home/{{ main_user }}/.local/bin/random-delay-seconds.bash
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '755'
        
    - name: common functions | copy functions health checks
      ansible.builtin.template:
        src: ../files/bin/server-healthcheck-ping.bash
        dest: /home/{{ main_user }}/.local/bin/server-healthcheck-ping.bash
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '700'
    
    - name: common functions | copy functions health checks
      ansible.builtin.template:
        src: ../files/bin/server-healthcheck-website.bash
        dest: /home/{{ main_user }}/.local/bin/server-healthcheck-website.bash
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '700'
    
    - name: common functions | copy functions monitor-systemd-failed
      ansible.builtin.template:
        src: ../files/bin/monitor-systemd-failed.fish
        dest: /home/{{ main_user }}/.local/bin/monitor-systemd-failed.fish
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '700'
    
    - name: common functions | journalctl-consumed-statistics
      ansible.builtin.copy:
        src: ../files/bin/journalctl-consumed-statistics.bash
        dest: /home/{{ main_user }}/.local/bin/journalctl-consumed-statistics.bash
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '755'
