- name: Install common functions
  hosts: coreos:dnf:desktop
  gather_facts: false
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
    server_healthcheck_ping:
    server_healthcheck_website:
  tasks:
    
    - name: common functions | ensures /home/{{ main_user }}/.local/bin directory exists
      ansible.builtin.file:
        path: /home/{{ main_user }}/.local/bin
        state: directory
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '0755'

    - name: common functions | Template and upload scripts
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/home/{{ main_user }}/.local/bin/{{ item | basename }}"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '0740'
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
      with_fileglob:
        - "../files/bin/*"
