- name: Install incus
  hosts: coreos
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
  tasks:
    - name: Incus | Install and setup
      become: true
      when:
        - '"container" not in ansible_facts["virtualization_tech_guest"]'
      block:

        - name: Incus | create directory for incus storage
          ansible.builtin.file:
            path: /var/lib/incus
            state: directory
            owner: root
            group: root
            mode: '0755'
          
        - name: Incus | install incus.container (root)
          ansible.builtin.copy:
            src: "../files/incus/incus.container"
            dest: "/etc/containers/systemd/incus.container"
            owner: "root"
            group: "root"
            mode: '644'
          become: true
          register: incus_container_service
            
        - name: Incus | reload and restart incus.service if changed
          ansible.builtin.systemd_service:
            name: incus.service
            state: restarted
            daemon_reload: true
          when: >
            incus_container_service.changed | default(false)
            
        - name: Incus | install incus binary and add to path
          become: true
          ansible.builtin.shell: |
            set -euo pipefail
            IFS=$'\n\t'
            
            incus_version="6.19.1"
            global_bin_path="/usr/local/bin"
            incus_bin_path="$global_bin_path/incus"
            incus_agent_bin_path="$global_bin_path/incus-agent"
            incus_url="https://github.com/lxc/incus/releases/download/v$incus_version/bin.linux.incus.$(uname -m)"
            incus_agent_url="https://github.com/lxc/incus/releases/download/v$incus_version/bin.linux.incus-agent.$(uname -m)"
            
            needs_install=false
            
            if [ ! -f $incus_bin_path ]; then
              echo "incus not found, will install..."
              needs_install=true
            else
              # Check if the installed version matches the desired version
              if $incus_bin_path --version | grep -q "${incus_version%.*}"; then
                echo "incus $incus_version is already installed."
              else
                echo "incus is installed, but the version doesn't match $incus_version, will reinstall..."
                needs_install=true
              fi
            fi
            
            if [ "$needs_install" = true ]; then
              echo "Installing incus..."
              curl -fL $incus_url > $incus_bin_path
              curl -fL $incus_agent_url > $incus_agent_bin_path
              chmod +x $incus_bin_path
              chmod +x $incus_agent_bin_path
            fi
          args:
            executable: /usr/bin/bash
          register: install_incus
          failed_when: install_incus.rc != 0
          changed_when: "'Installing incus...' in install_incus.stdout"
          when:
            - ansible_pkg_mgr in ['atomic_container', 'dnf', 'dnf5']
