- name: Install cryptpad
  hosts: wyse01.tailnet-ba52.ts.net
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
  tasks:

    - name: Install cryptpad | cryptpad.container
      ansible.builtin.copy:
        src: ../files/cryptpad/cryptpad.container
        dest: /home/{{ main_user }}/.config/containers/systemd/cryptpad.container
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '644'
      register: cryptpad_container_output

    - name: Install cryptpad | config.js
      ansible.builtin.template:
        src: ../files/cryptpad/config.js
        dest: /var/mnt/data1/cryptpad/config.js
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "528288"
        group: "528288"
        mode: '644'
      become: true
      register: cryptpad_config_js_output

    - name: Install cryptpad | application_config.js
      ansible.builtin.template:
        src: ../files/cryptpad/customize/application_config.js
        dest: /var/mnt/data1/cryptpad/customize/application_config.js
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "528288"
        group: "528288"
        mode: '644'
      become: true
      register: cryptpad_application_config_js_output

    - name: Install cryptpad | restart cryptpad.service
      ansible.builtin.systemd:
        daemon_reload: true
        name: cryptpad.service
        state: restarted
        scope: user
      when: >
        cryptpad_container_output.changed or
        cryptpad_config_js_output.changed or
        cryptpad_application_config_js_output.changed
