- name: Install Gemini CLI
  hosts: coreos:dnf:desktop
  gather_facts: true
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:

    - name: Install Gemini CLI | install Gemini CLI
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'

        npm install -g @google/gemini-cli
      args:
        executable: /usr/bin/bash
      become: true
      when:
        - ansible_pkg_mgr in ['atomic_container', 'dnf', 'dnf5']
