- name: Install packages
  hosts: coreos:dnf:desktop
  gather_facts: true
  
  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:

    - name: Install packages | update sudoers secure_path to include /usr/local/bin
      become: true
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^Defaults\s+secure_path\s*=\s*/sbin:/bin:/usr/sbin:/usr/bin$'
        line: 'Defaults    secure_path = /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin'
        validate: 'visudo -cf %s'
      when:
        - ansible_facts["pkg_mgr"] in ['dnf', 'dnf5']
        - (ansible_facts["distribution_major_version"] | int) in [9, 10]
    
    - name: Install epel-release | dnf
      become: true
      ansible.builtin.dnf:
        name:
          - epel-release
        state: present
      when:
        - ansible_facts["pkg_mgr"] in ['dnf', 'dnf5']
        - (ansible_facts["distribution_major_version"] | int) in [9, 10]
      register: install_epel_release
      failed_when: install_epel_release.rc >= 2
      
    - name: Install packages | dnf install
      become: true
      ansible.builtin.dnf:
        name:
          - age
          - bat
          - below
          - binutils
          - fd-find
          - fuse3
          - git
          - iftop
          - jq
          - mkpasswd
          - ncdu
          - nano
          - rsync
          - smartmontools
          - sequoia-sq
          - sysbench
          - sysstat
          - unzip
          - upower
          - podman
          - nodejs
          - wget
          - zip
        state: present
      when:
        - ansible_facts["pkg_mgr"] in ['dnf', 'dnf5']
        - (ansible_facts["distribution_major_version"] | int) in [9, 10]
    
    - name: Install packages | dra
      ansible.builtin.shell: |
        set -euo pipefail
        
        if ! command -v dra >/dev/null 2>&1; then
          echo "not found; installing..."
          curl --proto '=https' --tlsv1.2 -sSf \
            https://raw.githubusercontent.com/devmatteini/dra/d3649805056fe4bf39365bcb19c2590a41d5a63b/install.sh | \
            bash -s -- --to "/usr/local/bin"
        else
          echo "already in path"
        fi
      args:
        executable: /usr/bin/bash
      register: dra
      failed_when: dra.rc != 0
      changed_when: "'installing...' in dra.stdout"
      become: true
    
    - name: Install packages | ensure-cmd
      ansible.builtin.copy:
        src: "../files/ensure-cmd"
        dest: "/usr/local/bin"
        owner: "root"
        group: "root"
        mode: '0755'
      become: true
    
    - name: Install packages | eza
      ansible.builtin.shell: |
        set -euo pipefail
        
        ensure-cmd \
          --cmd eza \
          --select-archive "" \
          --repo-url https://github.com/eza-community/eza \
          --install-dir /usr/local/bin
      args:
        executable: /usr/bin/bash
      register: eza
      failed_when: eza.rc != 0
      changed_when: "'installing...' in eza.stdout"
      become: true
    
    - name: Install packages | dysk
      ansible.builtin.shell: |
        set -euo pipefail
        
        ensure-cmd \
          --cmd dysk \
          --select-archive dysk_3.6.0.zip \
          --repo-url https://github.com/Canop/dysk \
          --install-dir /usr/local/bin
      args:
        executable: /usr/bin/bash
      register: dysk
      failed_when: dysk.rc != 0
      changed_when: "'installing...' in dysk.stdout"
      become: true
    
    - name: Install packages | duf
      ansible.builtin.shell: |
        set -euo pipefail
        
        ensure-cmd \
          --cmd duf \
          --select-archive "" \
          --repo-url https://github.com/muesli/duf \
          --install-dir /usr/local/bin
      args:
        executable: /usr/bin/bash
      register: duf
      failed_when: duf.rc != 0
      changed_when: "'installing...' in duf.stdout"
      become: true
      
    - name: Install packages | doggo
      ansible.builtin.shell: |
        set -euo pipefail
        
        ensure-cmd \
          --cmd doggo \
          --select-archive "" \
          --repo-url https://github.com/mr-karan/doggo \
          --install-dir /usr/local/bin
      args:
        executable: /usr/bin/bash
      register: doggo
      failed_when: doggo.rc != 0
      changed_when: "'installing...' in doggo.stdout"
      become: true
