- name: Install Garage s3
  hosts: wyse03
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
  
  tasks:
    - name: Install Garage s3 | User Service
      block:
        - name: Install Garage s3 | Systemd Podman Quadlet
          ansible.builtin.template:
            src: "../files/garage/garage.container"
            dest: "/home/{{ main_user }}/.config/containers/systemd/"
            comment_start_string: "# BEGIN_OF_COMMENT"
            comment_end_string: "# END_OF_COMMENT"
            owner: "{{ main_user }}"
            group: "{{ main_user }}"
            mode: '600'
          register: systemd_podman_quadlet_output
          
        - name: Install Garage s3 | ensures garage meta directory exists
          ansible.builtin.file:
            path: /var/mnt/ssd1-internal/garage/meta
            state: directory
            owner: "{{ main_user }}"
            group: "{{ main_user }}"
            mode: '750'
          become: true
          
        - name: Install Garage s3 | ensures garage data directory exists
          ansible.builtin.file:
            path: /var/mnt/ssd1-internal/garage/data
            state: directory
            owner: "{{ main_user }}"
            group: "{{ main_user }}"
            mode: '750'
          become: true
          
        - name: Install Garage s3 | Disable copy-on-write for garage data directory
          ansible.builtin.command:
            cmd: echo chattr +C /var/mnt/ssd1-internal/garage/data
          become: true
          
        - name: Install Garage s3 | copy garage.toml settings
          ansible.builtin.template:
            src: "../files/garage/garage.toml"
            dest: "/var/mnt/ssd1-internal/garage/"
            comment_start_string: "# BEGIN_OF_COMMENT"
            comment_end_string: "# END_OF_COMMENT"
            owner: "{{ main_user }}"
            group: "{{ main_user }}"
            mode: '600'
          register: garage_toml_output

        - name: Install Garage s3 | restart garage.service
          ansible.builtin.systemd:
            daemon_reload: true
            name: garage.service
            state: restarted
            enabled: true
            scope: user
          when: >
            systemd_podman_quadlet_output.changed or
            garage_toml_output.changed
      when: ansible_facts["virtualization_tech_guest"] == []
