- name: Install url-logger
  hosts: coreos:dnf:!desktop
  gather_facts: true
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:

    - name: Install url-logger | setup url-logger
      ansible.builtin.copy:
        src: ../files/url-logger
        dest: /usr/local/bin/url-logger
        owner: "root"
        group: "root"
        mode: '755'
      become: true
      when:
        - ansible_pkg_mgr in ['atomic_container', 'dnf', 'dnf5']
        
    - name: Install url-logger | setup url-logger as a browser
      ansible.builtin.copy:
        src: ../files/url-logger-browser.bashrc
        dest: /home/{{ main_user }}/.bashrc.d/url-logger-browser.bashrc
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '644'
      when:
        - ansible_pkg_mgr in ['atomic_container', 'dnf', 'dnf5']
