- name: Setup Lets Encrypt
  hosts: wyse01.tailnet-ba52.ts.net
  gather_facts: true
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"
    - "../inventories/prod/secret_vars/lets-encrypt.yaml"

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:
    - name: Setup Lets Encrypt | Setup variables (detect container)
      ansible.builtin.set_fact:
        run_as_root: "{{ ansible_facts['virtualization_tech_guest'] | default([]) | intersect(['lxc', 'container']) | length > 0 }}"

    - name: Setup Lets Encrypt | Setup variables (compute once, reuse everywhere)
      ansible.builtin.set_fact:
        service_dir: "{{ '/etc/systemd/system' if run_as_root else '/home/' ~ main_user ~ '/.config/systemd/user' }}"
        quadlet_dir: "{{ '/etc/containers/systemd' if run_as_root else '/home/' ~ main_user ~ '/.config/containers/systemd' }}"
        file_owner: "{{ 'root' if run_as_root else main_user }}"
        file_group: "{{ 'root' if run_as_root else main_user }}"
        calculated_become: "{{ run_as_root }}"
        systemd_scope: "{{ 'system' if run_as_root else 'user' }}"
        
    - name: Setup Lets Encrypt | ensures data directory exists
      ansible.builtin.file:
        path: "{{ lets_encrypt_dir }}"
        state: directory
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0700"
      become: "{{ calculated_become }}"
      register: data_dir_output
      
    - name: Setup Lets Encrypt | copy environment file
      ansible.builtin.template:
        src: "../inventories/prod/secret_vars/lets-encrypt.env"
        dest: "{{ lets_encrypt_dir }}/lets-encrypt.env"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0600"
      become: "{{ calculated_become }}"
      register: env_var_output

    - name: Setup Lets Encrypt | Systemd Podman Quadlet
      ansible.builtin.template:
        src: "../files/lets-encrypt/lets-encrypt.container"
        dest: "{{ quadlet_dir }}/lets-encrypt.container"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0640"
      become: "{{ calculated_become }}"
      register: systemd_podman_quadlet_output
      
    - name: Setup Lets Encrypt | Reload systemd
      ansible.builtin.systemd:
        daemon_reload: true
        scope: "{{ systemd_scope }}"
      become: "{{ calculated_become }}"
      when: systemd_podman_quadlet_output.changed

    - name: Setup Lets Encrypt | Systemd Service
      ansible.builtin.template:
        src: "../files/lets-encrypt/lets-encrypt.timer"
        dest: "{{ service_dir }}/lets-encrypt.timer"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0640"
      become: "{{ calculated_become }}"
      register: systemd_service_output
    
    - name: Enable timer
      ansible.builtin.systemd:
        daemon_reload: true
        name: lets-encrypt.timer
        state: started
        enabled: true
        scope: "{{ systemd_scope }}"
      become: "{{ calculated_become }}"
