- name: Mask and disable docker service
  hosts: coreos:dnf:desktop
  gather_facts: false
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:

    - name: Docker | disable and Mask docker.service
      become: true
      ansible.builtin.systemd_service:
        name: docker.service
        enabled: false
        masked: true
      ignore_errors: true

    - name: Docker | disable and Mask docker.socket
      become: true
      ansible.builtin.systemd_service:
        name: docker.socket
        enabled: false
        masked: true
      ignore_errors: true
