- name: Setup podman systemd quadlet
  hosts: coreos:dnf:desktop
  gather_facts: false
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    ansible_shell_executable: /bin/sh

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:
    
    - name: Podman Systemd | sync files (user)
      ansible.posix.synchronize:
        src: "../files/hosts/{{ inventory_hostname }}/podman-systemd-user/"
        dest: "/home/{{ main_user }}/.config/containers/systemd/"
        delete: yes
      register: podman_systemd_sync_user_files
      
    - name: Podman Systemd | shows what was changed (user)
      ansible.builtin.debug:
        msg: "{{ podman_systemd_sync_user_files.stdout_lines }}"
      when: >
        podman_systemd_sync_user_files.changed | default(false)
        
    - name: Podman Systemd | reload daemon for user '{{ main_user }}'
      ansible.builtin.command: systemctl --user daemon-reload
      when: >
        podman_systemd_sync_user_files.changed | default(false)
      changed_when: >
        false

    - name: Podman Systemd | sync files (root)
      become: true
      ansible.posix.synchronize:
        src: "../files/hosts/{{ inventory_hostname }}/podman-systemd-root/"
        dest: "/etc/containers/systemd/"
        delete: yes
      ignore_errors: true
      register: podman_systemd_sync_root_files
    
    - name: Podman Systemd | shows what was changed (root)
      ansible.builtin.debug:
        msg: "{{ podman_systemd_sync_root_files.stdout_lines }}"
      when: >
        podman_systemd_sync_root_files.changed | default(false)
      
    - name: Podman Systemd | reload daemon for 'root'
      become: true
      ansible.builtin.command: systemctl daemon-reload
      when: >
        podman_systemd_sync_root_files.changed | default(false)
      changed_when: >
        false
