- name: Setup DNS
  hosts: coreos:desktop
  gather_facts: false
  become: true
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:
    
    - name: Setup DNS | ensures /etc/systemd/resolved.conf.d directory exists
      ansible.builtin.file:
        path: /etc/systemd/resolved.conf.d
        state: directory
        owner: "root"
        group: "root"
        mode: '755'
    
    - name: Setup DNS | copy conf file
      ansible.builtin.template:
        src: "../files/dns/50-dns.conf"
        dest: "/etc/systemd/resolved.conf.d/50-dns.conf"
        owner: "root"
        group: "root"
        mode: '644'
      register: dns_copy_conf

    - name: Setup DNS | restart systemd-resolved.service
      ansible.builtin.systemd_service:
        name: systemd-resolved.service
        state: restarted
      when: >
        dns_copy_conf.changed | default(false)

    - name: Setup DNS | run resolvectl
      ansible.builtin.shell: |
        resolvectl
      args:
        executable: /usr/bin/bash
      register: dns_resolvectl
      failed_when: dns_resolvectl.rc != 0
      changed_when: false

    - name: Setup DNS | Display 'resolvectl' output
      ansible.builtin.debug:
        msg: "{{ dns_resolvectl.stdout }}"
