- name: Setup Rclone Garage
  hosts: coreos:dnf:desktop
  gather_facts: true

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/rclone.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0
  
  tasks:
    
    - name: Setup Rclone Garage | Setup variables (detect container)
      ansible.builtin.set_fact:
        run_as_root: "{{ ansible_facts['virtualization_tech_guest'] | default('') in ['lxc', 'container'] }}"

    - name: Setup Rclone Garage | Setup variables (compute once, reuse everywhere)
      ansible.builtin.set_fact:
        service_dir: "{{ '/etc/systemd/system' if run_as_root else '/home/' ~ main_user ~ '/.config/systemd/user' }}"
        file_owner: "{{ 'root' if run_as_root else main_user }}"
        file_group: "{{ 'root' if run_as_root else main_user }}"
        calculated_become: "{{ run_as_root }}"
        systemd_scope: "{{ 'system' if run_as_root else 'user' }}"
        
    - name: Setup Rclone Garage | install rclone
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'
        
        ensure-cmd \
          --cmd rclone \
          --select-archive "" \
          --repo-url https://github.com/rclone/rclone \
          --install-dir /usr/local/bin
      args:
        executable: /usr/bin/bash
      register: rclone
      failed_when: rclone.rc != 0
      changed_when: "'installing...' in rclone.stdout"
      become: true

    - name: Setup Rclone Garage | ensures mount directory exists
      ansible.builtin.file:
        path: "{{ rclone_garage_mount_path }}"
        state: directory
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: '0750'
      become: true
      register: mount_dir_creation
      failed_when:
        - mount_dir_creation.failed
        - "'File exists' not in mount_dir_creation.msg"
    
    - name: Setup Rclone Garage | ensures config directory exists
      ansible.builtin.file:
        path: "{{ rclone_conf_path }}"
        state: directory
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: '0750'
      become: true
    
    - name: Setup Rclone Garage | copy rclone-garage.conf settings
      ansible.builtin.template:
        src: "../files/rclone/{{ rclone_conf_name }}"
        dest: "{{ rclone_conf_path }}/{{ rclone_conf_name }}"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0600"
      become: true
      register: rclone_conf_output
      
    - name: Setup Rclone Garage | copy lets-encrypt-rclone.conf settings
      ansible.builtin.template:
        src: "../inventories/prod/secret_vars/lets-encrypt-rclone.conf"
        dest: "{{ rclone_conf_path }}/lets-encrypt-rclone.conf"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0600"
      become: true
      register: lets_encrypt_rclone_conf_output

    - name: Setup Rclone Garage | Install systemd service
      ansible.builtin.template:
        src: "../files/rclone/garage/rclone-garage.service"
        dest: "{{ service_dir }}/rclone-garage.service"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0600"
      become: "{{ calculated_become }}"
      register: service_output

    - name: Setup Rclone Garage | Restart Rclone Garage service
      ansible.builtin.systemd:
        daemon_reload: true
        name: rclone-garage.service
        state: restarted
        enabled: true
        scope: "{{ systemd_scope }}"
      become: "{{ calculated_become }}"
      when: >
        service_output.changed or
        rclone_conf_output.changed
