- name: Setup caddy
  hosts: coreos:dnf
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
    - "../inventories/prod/secret_vars/lets-encrypt.yaml"
  vars:
    main_user: core
  tasks:

    - name: Setup caddy | Setup variables (detect container)
      ansible.builtin.set_fact:
        node_is_container: "{{ (ansible_facts['virtualization_tech_guest'] | default([]) | length) > 0 }}"
    
    - name: Setup caddy | Setup variables (compute once, reuse everywhere)
      ansible.builtin.set_fact:
        service_dir: "{{ '/etc/systemd/system' if node_is_container else '/home/' ~ main_user ~ '/.config/systemd/user' }}"
        quadlet_dir: "{{ '/etc/containers/systemd' if node_is_container else '/home/' ~ main_user ~ '/.config/containers/systemd' }}"
        file_owner: "{{ 'root' if node_is_container else main_user }}"
        file_group: "{{ 'root' if node_is_container else main_user }}"
        calculated_become: "{{ node_is_container }}"
        systemd_scope: "{{ 'system' if node_is_container else 'user' }}"
        
    - name: Setup caddy | Systemd Podman Quadlet
      ansible.builtin.template:
        src: "../files/caddy/caddy.container"
        dest: "{{ quadlet_dir }}/caddy.container"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0640"
      become: "{{ calculated_become }}"
      register: systemd_podman_quadlet_output
      
    - name: Setup caddy | ensures directories exist
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0750"
      become: "{{ calculated_become }}"
      register: data_dir_output
      loop:
        - "{{ caddy_path }}"
        - "{{ caddy_path }}/etc-caddy"
        - "{{ caddy_path }}/config"
        - "{{ caddy_path }}/data"
        - "{{ caddy_path }}/usr-share-caddy"
        
    - name: Setup caddy | copy Caddyfile(s)
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ caddy_path }}/etc-caddy/{{ item | basename | regex_replace('\\.encrypted$', '') }}"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: "0640"
      with_fileglob:
        - "../files/caddy/etc-config/*.encrypted"
      become: "{{ calculated_become }}"
      register: copy_caddyfile
      
    - name: Setup caddy | Remove 2lo-absolwenci if not wyse01
      ansible.builtin.file:
        path: "{{ caddy_path }}/etc-caddy/2lo-absolwenci.caddy"
        state: absent
      when: inventory_hostname != 'wyse01.tailnet-ba52.ts.net'
      become: "{{ calculated_become }}"
      register: remove_2lo_caddyfile
      
    - name: Setup caddy | Remove import 2lo-absolwenci if not wyse01
      ansible.builtin.lineinfile:
        path: "{{ caddy_path }}/etc-caddy/Caddyfile"
        regexp: '^import 2lo-absolwenci\.caddy$'
        state: absent
      when: inventory_hostname != 'wyse01.tailnet-ba52.ts.net'
      become: "{{ calculated_become }}"
      register: remove_2lo_import
      
    - name: Setup caddy | Restart service
      ansible.builtin.systemd:
        daemon_reload: true
        name: caddy.service
        state: restarted
        enabled: true
        scope: "{{ systemd_scope }}"
      become: "{{ calculated_become }}"
      when: >
        systemd_podman_quadlet_output.changed or
        data_dir_output.changed
      
    - name: Setup caddy | validate Caddyfile(s)
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'

        podman exec caddy caddy validate --config /etc/caddy/Caddyfile
      args:
        executable: /usr/bin/bash
      become: "{{ calculated_become }}"

    - name: Setup caddy | reload caddy server
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'

        podman exec caddy caddy reload --config /etc/caddy/Caddyfile
      args:
        executable: /usr/bin/bash
      become: "{{ calculated_become }}"
