- name: setup caddy
  hosts: wyse01.tailnet-ba52.ts.net
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
  tasks:
    - name: setup caddy | copy Caddyfile(s)
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/var/mnt/data1/caddy/etc-caddy/{{ item | basename | regex_replace('\\.encrypted$', '') }}"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '640'
      with_fileglob:
        - "../files/caddy/etc-config/*.encrypted"
      become: true
      register: copy_caddyfile
      
      
    - name: setup caddy | validate Caddyfile(s)
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'
        
        podman run -it --rm --userns=keep-id \
          --volume=/var/mnt/data1/caddy/etc-caddy:/etc/caddy:z \
          --volume=/var/mnt/data1/caddy/config:/config:z \
          --volume=/var/mnt/data1/caddy/data:/data:z \
          --volume=/var/mnt/data1/caddy/usr-share-caddy:/usr/share/caddy:z \
          --volume=/var/mnt/data1/caddy/tls:/certificates:z \
              docker.io/library/caddy:2 caddy validate --config /etc/caddy/Caddyfile
      args:
        executable: /usr/bin/bash
      register: validate_caddyfile
    
    - name: setup caddy | reload caddy server
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'
        
        podman exec caddy caddy reload --force --config /etc/caddy/Caddyfile
      args:
        executable: /usr/bin/bash
      when: >
        copy_caddyfile.changed | default(false)
