- name: Install cryptpad
  hosts: marek246.tailnet-ba52.ts.net
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
    - "../inventories/prod/secret_vars/cryptpad.yaml"
  vars:
    main_user: root
  tasks:

    - name: Install cryptpad | cryptpad.container
      ansible.builtin.template:
        src: "../files/cryptpad/cryptpad.container"
        dest: "/etc/containers/systemd/cryptpad.container"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '640'
      become: true
      register: cryptpad_container_output

    - name: Install cryptpad | config.js
      ansible.builtin.template:
        src: "../files/cryptpad/config.js"
        dest: "{{ cryptpad_dir }}/config.js"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "4001"
        group: "4001"
        mode: '640'
      become: true
      register: cryptpad_config_js_output

    - name: Install cryptpad | application_config.js
      ansible.builtin.template:
        src: "../files/cryptpad/customize/application_config.js"
        dest: "{{ cryptpad_dir }}/customize/application_config.js"
        comment_start_string: "# BEGIN_OF_COMMENT"
        comment_end_string: "# END_OF_COMMENT"
        owner: "4001"
        group: "4001"
        mode: '640'
      become: true
      register: cryptpad_application_config_js_output

    - name: Install cryptpad | restart cryptpad.service
      ansible.builtin.systemd:
        daemon_reload: true
        name: cryptpad.service
        state: restarted
        scope: system
      when: >
        cryptpad_container_output.changed or
        cryptpad_config_js_output.changed or
        cryptpad_application_config_js_output.changed
      become: true
