- name: Setup users
  hosts: coreos:dnf:desktop
  gather_facts: true
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"
  tasks:

    - name: Setup users | loop over users
      include_tasks: setup-users-tasks.yaml
      loop:
        - core
        - emergency
      loop_control:
        loop_var: setup_user
    
    - name: Setup users | Setup sshd config
      ansible.builtin.copy:
        content: |
          PasswordAuthentication no
          AllowUsers core user root emergency
          AuthorizedKeysFile .ssh/authorized_keys.d/ansible
        dest: /etc/ssh/sshd_config.d/60-common.conf
        owner: "root"
        group: "root"
        mode: '600'
      become: true
      notify: Restart sshd.service
      
    - name: Setup users | update wheel for nopasswd
      become: true
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%wheel  ALL=(ALL)       ALL$'
        line:    '%wheel  ALL=(ALL)       NOPASSWD: ALL'
        validate: 'visudo -cf %s'
      notify: Restart sshd.service
  
  handlers:
    - name: Restart sshd.service
      ansible.builtin.systemd:
        daemon_reload: true
        name: sshd.service
        state: restarted
        scope: system
      become: true
