- name: setup caddy
  hosts: wyse01.tailnet-ba52.ts.net:marek246.tailnet-ba52.ts.net
  gather_facts: true
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
  tasks:
#    - name: Run fmt and encrypt script
#      ansible.builtin.command: fish ../files/caddy/caddy-fmt-encrypt.fish
#      delegate_to: localhost
#      args:
#        executable: /usr/bin/bash
#      run_once: true
#      changed_when: false
      
    - name: setup caddy | copy Caddyfile(s)
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/var/mnt/data1/caddy/etc-caddy/{{ item | basename | regex_replace('\\.encrypted$', '') }}"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '640'
      with_fileglob:
        - "../files/caddy/etc-config/*.encrypted"
      become: true
      register: copy_caddyfile
      
      
    - name: setup caddy | validate Caddyfile(s)
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'

        podman exec caddy caddy validate --config /etc/caddy/Caddyfile
      args:
        executable: /usr/bin/bash
      become: "{{ 'container' in ansible_facts['virtualization_tech_guest'] }}"
      register: validate_caddyfile

    - name: setup caddy | reload caddy server
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'

        podman exec caddy caddy reload --force --config /etc/caddy/Caddyfile
      args:
        executable: /usr/bin/bash
      become: "{{ 'container' in ansible_facts['virtualization_tech_guest'] }}"
      when: >
        copy_caddyfile.changed | default(false)
