- name: Setup PATH
  hosts: coreos:dnf:desktop
  gather_facts: false
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"
  
  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0
  
  tasks:
    
    - name: setup PATH | ensures /home/{{ main_user }}/.bashrc.d/ directory exists
      ansible.builtin.file:
        path: /home/{{ main_user }}/.bashrc.d/
        state: directory
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '0755'
    
    - name: setup PATH | bashrc
      ansible.builtin.copy:
        src: ../files/75-path.bashrc
        dest: /home/{{ main_user }}/.bashrc.d/75-path.bashrc
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: '0644'
