- name: Setup users
  hosts: coreos:dnf:desktop
  gather_facts: true
  vars_files:
    - "../inventories/prod/secret_vars/user.yaml"

  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:
    - name: Setup users | Create sudo group
      ansible.builtin.group:
        name: sudo
        state: present
      become: true
    
    - name: Setup users | loop over users
      include_tasks: setup-users-tasks.yaml
      loop:
        - core
        - emergency
      loop_control:
        loop_var: setup_user
    
    - name: Setup users | Setup sshd config
      ansible.builtin.copy:
        content: |
          PasswordAuthentication no
          AllowUsers core user root emergency
          AuthorizedKeysFile .ssh/authorized_keys.d/ansible
        dest: /etc/ssh/sshd_config.d/60-common.conf
        owner: "root"
        group: "root"
        mode: '600'
      become: true
      notify: Restart sshd.service
      
    - name: Setup users | update sudo group for nopasswd
      ansible.builtin.copy:
        content: |
          # https://github.com/openshift/os/issues/96
          %sudo        ALL=(ALL)       NOPASSWD: ALL
        dest: /etc/sudoers.d/coreos-sudo-group
        owner: "root"
        group: "root"
        mode: '0440'
      become: true
      notify: Restart sshd.service
  
  handlers:
    - name: Restart sshd.service
      ansible.builtin.systemd:
        daemon_reload: true
        name: sshd.service
        state: restarted
        scope: system
      become: true
