- name: Setup Fish functions
  hosts: coreos:dnf:desktop
  gather_facts: false
  vars_files:
    - "../inventories/prod/host_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/{{ inventory_hostname }}.yaml"
    - "../inventories/prod/secret_vars/all.yaml"
  vars:
    main_user: core
  tasks:
    
    - name: Fish | rsync functions
      ansible.posix.synchronize:
        src: "../files/functions/"
        dest: "/home/{{ main_user }}/.config/fish/functions/"
        delete: yes
