- name: Setup Tailscale
  hosts: coreos:dnf:desktop
  gather_facts: true
  vars_files:
    - "../inventories/prod/secret_vars/all.yaml"
    - "../inventories/prod/secret_vars/services/tailscale.yaml"
    
  pre_tasks:
    - name: Gather per-host secret files
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/base.yaml"
        - "../inventories/prod/secret_vars/{{ inventory_hostname }}/tailscale.yaml"
      when: lookup('ansible.builtin.fileglob', item) | length > 0

  tasks:
    - name: Setup Tailscale | Setup variables (detect container)
      ansible.builtin.set_fact:
        run_as_root: "{{ ansible_facts['virtualization_tech_guest'] | default([]) | intersect(['lxc', 'container']) | length > 0 }}"
    
    - name: Setup Tailscale | Setup variables (compute once, reuse everywhere)
      ansible.builtin.set_fact:
        service_dir: "{{ '/etc/systemd/system' if run_as_root else '/home/' ~ main_user ~ '/.config/systemd/user' }}"
        quadlet_dir: "{{ '/etc/containers/systemd' if run_as_root else '/home/' ~ main_user ~ '/.config/containers/systemd' }}"
        file_owner: "{{ 'root' if run_as_root else main_user }}"
        file_group: "{{ 'root' if run_as_root else main_user }}"
        calculated_become: "{{ run_as_root }}"
        systemd_scope: "{{ 'system' if run_as_root else 'user' }}"
    
    - name: Setup Tailscale | Info about running user
      ansible.builtin.debug:
        msg:
          - "Run as root: {{ run_as_root }}"
          - "Service dir: {{ service_dir }}"
          - "Quadlet dir: {{ quadlet_dir }}"
          - "User: {{ file_owner }}"
          - "Group: {{ file_group }}"
          - "Become: {{ calculated_become }}"
          - "Scope: {{ systemd_scope }}"
      
    - name: Tailscale | pre-setup
      become: true
      when:
        - ansible_facts['distribution'] in ['Fedora', 'AlmaLinux', 'Rocky']
        - ansible_facts['pkg_mgr'] in ['atomic_container', 'dnf', 'dnf5']
      block:
        - name: Tailscale | add repository EL
          register: add_repo_el
          ansible.builtin.copy:
            src: ../files/tailscale/tailscale-rhel.repo
            dest: /etc/yum.repos.d/tailscale.repo
            owner: root
            group: root
            mode: '644'
          when:
            - ansible_facts['pkg_mgr'] in ['dnf', 'dnf5']
            - ansible_facts['distribution'] in ['AlmaLinux', 'Rocky']

        - name: Tailscale | sysctl set net.ipv4.ip_forward=1
          ansible.posix.sysctl:
            name: net.ipv4.ip_forward
            value: '1'
            sysctl_file: /etc/sysctl.d/10-common.conf
            state: present

        - name: Tailscale | sysctl set net.ipv6.conf.all.forwarding=1
          ansible.posix.sysctl:
            name: net.ipv6.conf.all.forwarding
            value: '1'
            sysctl_file: /etc/sysctl.d/10-common.conf
            state: present

    - name: Tailscale | Install
      become: true
      when: >
        ansible_facts['distribution'] in ['Fedora', 'AlmaLinux', 'Rocky'] and
        ansible_facts['pkg_mgr'] in ['atomic_container', 'dnf', 'dnf5']
      block:
        - name: Tailscale | check if 'tailscale' is in PATH
          ansible.builtin.script: ../files/tailscale/tailscale-in-path.sh
          register: tailscale_in_path
          failed_when: >
            (tailscale_in_path.stdout.find('tailscale in path') == -1 and
            tailscale_in_path.stdout.find('tailscale NOT in path') == -1) or
            tailscale_in_path.rc != 0
          changed_when: >
            tailscale_in_path.stdout.find('tailscale NOT in path') == 0

        - name: Tailscale | install dnf
          ansible.builtin.dnf:
            name:
              - tailscale
              - jq
              - ethtool
            state: present
          register: install_dnf
          when:
            - ansible_facts['pkg_mgr'] in ['dnf', 'dnf5']
            - tailscale_in_path is changed

    - name: Tailscale | start and enable 'tailscaled' systemd service
      become: true
      ansible.builtin.systemd_service:
        name: tailscaled.service
        daemon_reload: true
        enabled: true
        state: started
        scope: system
      register: tailscale_service
      when: >
        (ansible_facts['distribution'] in ['Fedora', 'AlmaLinux', 'Rocky'] and
        ansible_facts['pkg_mgr'] in ['atomic_container', 'dnf', 'dnf5'])

    - name: Tailscale | optimizations
      become: true
      when: not run_as_root
      block:
        - name: Tailscale | copy tailscale-optimizations.service
          ansible.builtin.copy:
            src: ../files/tailscale/tailscale-optimizations.service
            dest: /etc/systemd/system/tailscale-optimizations.service
            owner: root
            group: root
            mode: '644'
          register: tailscale_copy_optimizations_service

        - name: Tailscale | start and enable tailscale-optimizations.service
          ansible.builtin.systemd_service:
            daemon_reload: true
            name: tailscale-optimizations.service
            state: started
            enabled: true
            scope: system
          register: tailscale_optimizations_service
          when: tailscale_copy_optimizations_service is changed

    - name: Tailscale | add profile env vars
      ansible.builtin.copy:
        src: ../files/tailscale/10-tailscale.sh
        dest: /etc/profile.d/10-tailscale.sh
        owner: root
        group: root
        mode: '644'
      become: true

    - name: Tailscale | up
      become: true
      ansible.builtin.shell: |
        set -euo pipefail
        IFS=$'\n\t'
        
        tailnet_dns_suffix="$(tailscale status --json | jq -r .MagicDNSSuffix)"
        
        if [[ "$tailnet_dns_suffix" == "{{ tailscale_tailnet_dns_suffix }}" ]]; then
          echo "tailscale is already up."
          exit 0
        fi
        
        echo "tailscale needs to be up."
        tailscale up \
          --auth-key={{ tailscale_key }} \
          --advertise-exit-node=true \
          --accept-routes=true \
          --advertise-tags={{ tailscale_tags }}
      args:
        executable: /usr/bin/bash
      register: tailscale_up
      changed_when: "'tailscale needs to be up.' in tailscale_up.stdout"
